<!-- 页面标签 -->
<div class="layadmin-tabsbody-item layui-show">
    <div class="layui-card layadmin-header yyms-header">
        <div class="layui-breadcrumb" lay-filter="breadcrumb" style="visibility: visible;">
            <a href="/admin">主页</a><span lay-separator="">/</span>
            <a><cite>系统管理</cite></a><span lay-separator="">/</span>
            <a><cite>菜单管理</cite></a>
        </div>
    </div>
    <div class="layui-fluid">
        <div class="layui-card">

            <div class="layui-card-body">
                <div style="padding-bottom: 10px;" id="table-tools">
                    <a class="layui-btn" data-type="add">添加</a>
                    <a class="layui-btn layui-btn-danger" data-type="del">删除</a>
                </div>

                <table class="layui-table layui-form" id="menu-table" lay-filter="menu-table" lay-size="md"></table>
            </div>
        </div>
    </div>
</div>