<!-- 页面标签 -->
<div class="layadmin-tabsbody-item layui-show">
    <div class="layui-card layadmin-header yyms-header">
        <div class="layui-breadcrumb" lay-filter="breadcrumb" style="visibility: visible;">
            <a lay-href="">主页</a><span lay-separator="">/</span>
            <a><cite>主页二</cite></a>
        </div>
    </div>
    <div class="layui-fluid">
        <div class="layui-card">

            <div class="layui-card-body">
                <div style="padding-bottom: 10px;" id="table-tools">
                    <button class="layui-btn layuiadmin-btn-admin" data-type="add">添加</button>
                    <button class="layui-btn layuiadmin-btn-admin layui-btn-danger" data-type="batchdel">删除</button>
                </div>

                <table class="layui-table layui-form" id="menu-table" lay-filter="menu-table" lay-size="md"></table>
            </div>
        </div>
    </div>
</div>


<div class="larry-menu-add" id="menuAddTpl" style="display: none;">
    <div style="height:100%;overflow-y:scroll;">
        <form class="layui-form layui-form-pane yyms-menu-form" id="{{d.SELECTID}}" lay-filter="{{d.LARRYFILTER}}" action="/system/menus/add">
            <div class="layui-form-item">
                    <label class="layui-form-label">父级菜单</label>
                    <div class="layui-input-block">
                        <select name="pid" multiple="" lay-verify="required" lay-search="">
                            <option value="0" selected="selected">顶级菜单</option>
                            <option th:each="menu:${menus}" th:value="${menu.id}"
                                    th:text="${menu.title}" ></option>
                        </select>
                    </div>
            </div>
            <div class="layui-form-item">
                <div class="layui-inline">
                    <label class="layui-form-label">菜单类型</label>
                    <div class="layui-input-block">
                        <input type="radio" name="type" lay-filter='menutype' value="0" title="目录" checked>
                        <input type="radio" name="type" lay-filter='menutype' value="1" title="菜单">
                        <input type="radio" name="type" lay-filter='menutype' value="2" title="按钮">
                    </div>
                </div>
            </div>
            <div class="layui-form-item">
                    <label class="layui-form-label">菜单名称</label>
                    <div class="layui-input-block">
                        <input type="text" name="title" placeholder="请输入菜单名称" class="layui-input" lay-verify="required" value="" autocomplete="off">
                    </div>
            </div>
            <div class="layui-form-item">
                    <label class="layui-form-label">菜单地址</label>
                    <div class="layui-input-block">
                        <input type="text" name="url" placeholder="请输入菜单地址" class="layui-input" value="" autocomplete="off">
                    </div>
            </div>
            <div class="layui-form-item">
                    <label class="layui-form-label">权限标识</label>
                    <div class="layui-input-block">
                        <input type="text" name="perms" id="perms" placeholder="请输入权限标识 如：user:save 若不限制权限可不输入" class="layui-input" value="" autocomplete="off">
                    </div>
            </div>
            <div class="layui-form-item">
                    <label class="layui-form-label">排序</label>
                    <div class="layui-input-block">
                        <input type="number" name="sort" placeholder="请输入排序编号" class="layui-input" lay-verify="required" autocomplete="off">
                    </div>
            </div>
            <div class="layui-form-item">
                    <label class="layui-form-label">图标</label>
                    <div class="layui-input-block">
                        <input type="text" name="font" placeholder="请输入字体名称,默认使用larry-icon / fa" class="layui-input" id="{{d.MENUICONFONT}}" lay-verify="required" value="" autocomplete="off">
                    </div>
            </div>
            <div class="layui-form-item">
                    <label class="layui-form-label">备注</label>
                    <div class="layui-input-block">
                        <textarea name="remark" placeholder="请输入该菜单的描述信息" class="layui-textarea" autocomplete="off"></textarea>
                    </div>
            </div>
            <div class="layui-form-item">
                    <label class="layui-form-label layui-inline">状态</label>
                    <div class="layui-inline">
                        <input type="checkbox" checked="" name="status" lay-skin="switch" lay-filter="switchTest" lay-text="开启|关闭" value="1">
                    </div>
            </div>
            <div class="yyms-layer-btn">
                <a class="layui-btn layui-btn layui-btn-sm left" lay-submit="" lay-filter="menuadd" id="submitAdd">确定</a>
                <button class="layui-btn layui-btn layui-btn-sm layui-btn-danger" type="reset" id="resetAdd">重置</button>
                <!--  <a class="layui-btn layui-btn layui-btn-sm  layui-btn-danger" id="closeAdd">关闭</a> -->
            </div>
        </form>
    </div>
</div>