<!-- 页面标签 -->
<div class="layadmin-tabsbody-item layui-show">
    <div class="layui-card layadmin-header yyms-header">
        <div class="layui-breadcrumb" lay-filter="breadcrumb" style="visibility: visible;">
            <a href="/admin">主页</a><span lay-separator="">/</span>
            <a><cite>消息中心</cite></a>
        </div>
    </div>
    <div class="layui-fluid">
        <div class="layui-card">
            <div class="layui-tab layui-tab-brief">
                <ul class="layui-tab-title">
                    <li class="layui-this">未读通知<span class="layui-badge" th:if="${unread gt 0}" th:text="${unread}" id="unread"></span></li>
                </ul>
                <div class="layui-tab-content">

                    <div class="layui-tab-item layui-show">
                        <div id="message-center-btns" style="margin-bottom: 10px;">
                            <button class="layui-btn layui-btn-primary layui-btn-sm" data-type="del">
                                删除
                            </button>
                            <button class="layui-btn layui-btn-primary layui-btn-sm"
                                    data-type="read">标记已读
                            </button>
                            <button class="layui-btn layui-btn-primary layui-btn-sm"
                                    data-type="readAll">全部已读
                            </button>
                        </div>

                        <table class="layui-table" id="message-table" lay-filter="message-table"></table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/html" id="messageStatus">
    {{#  if(d.readFlg == false){ }}
    <button class="layui-btn layui-btn-xs">未读</button>
    {{#  } else { }}
    <button class="layui-btn layui-btn-primary layui-btn-xs">已读</button>
    {{#  }}}
</script>
<script type="text/html" id="titleTpl">
    <a lay-href="" lay-event="link" >{{d.noticeTitle}}</a>
</script>