<!-- 页面标签 -->
<div class="layadmin-tabsbody-item layui-show">
    <div class="layui-card layadmin-header yyms-header">
        <div class="layui-breadcrumb" lay-filter="breadcrumb" style="visibility: visible;">
            <a href="/admin">主页</a><span lay-separator="">/</span>
            <a><cite>系统管理</cite></a><span lay-separator="">/</span>
            <a><cite>公告管理</cite></a>
        </div>
    </div>
    <div class="layui-fluid">
        <div class="layui-card">
            <div class="layui-form layui-card-header layuiadmin-card-header-auto" lay-filter="app-content-list">
                <div class="layui-form-item">
                    <div class="layui-inline">
                        <label class="layui-form-label">发布时间</label>
                        <div class="layui-input-inline">
                            <input type="text" name="id" placeholder="请输入" autocomplete="off" class="layui-input">
                        </div>
                    </div>
                    <div class="layui-inline">
                        <label class="layui-form-label">公告标题</label>
                        <div class="layui-input-inline">
                            <input type="text" name="author" placeholder="请输入" autocomplete="off" class="layui-input">
                        </div>
                    </div>
                    <div class="layui-inline">
                        <button class="layui-btn layuiadmin-btn-list" lay-submit=""
                                lay-filter="LAY-app-contlist-search">
                            <i class="layui-icon layui-icon-search layuiadmin-button-btn"></i>
                        </button>
                    </div>
                </div>
            </div>

            <div class="layui-card-body">
                <div style="padding-bottom: 10px;" id="table-tools">
                    <a class="layui-btn" href="#notice">添加</a>
                    <a class="layui-btn layui-btn-danger" data-type="del">删除</a>
                </div>
                <table class="layui-table" id="notice-table" lay-filter="notice-table"></table>
            </div>
        </div>
    </div>
</div>

<!--操作-->
<script type="text/html" id="noticeBar">
    <a class="layui-btn layui-btn-xs" lay-event="edit" data-url="/system/menuedit">编辑</a>
    <a class="layui-btn layui-btn-xs layui-btn-danger" data-url="/system/menus/delete" lay-event="del">删除</a>
</script>
<script type="text/html" id="statusBar">
    <input type="checkbox" name="noticeStatus" value="{{d.id}}" lay-skin="switch" lay-text="启用|禁用"
           lay-filter="noticeStatus" {{ d.noticeStatus== true ? 'checked' : '' }}>
</script>