<!-- 页面标签 -->
<div class="layadmin-tabsbody-item layui-show">
    <div class="layui-card layadmin-header yyms-header">
        <div class="layui-breadcrumb" lay-filter="breadcrumb" style="visibility: visible;">
            <a href="/admin">主页</a><span lay-separator="">/</span>
            <a><cite>系统管理</cite></a><span lay-separator="">/</span>
            <a href="#notice_manage"><cite>通知管理</cite></a><span lay-separator="">/</span>
            <a><cite>通知设置</cite></a>
        </div>
    </div>
    <div class="layui-fluid">
        <div class="layui-row layui-col-space15">
            <div class="layui-col-md12">
                <div class="layui-card">
                    <div class="layui-card-header">通知设置</div>
                    <div class="layui-card-body" pad15="">

                        <div class="layui-form" wid100="" lay-filter="">
                            <div class="layui-form-item">
                                <label class="layui-form-label">通知标题</label>
                                <div class="layui-input-block">
                                    <input type="text" name="noticeTitle" value="layuiAdmin" class="layui-input">
                                </div>
                            </div>
                            <div class="layui-form-item layui-form-text">
                                <label class="layui-form-label">通知内容</label>
                                <div class="layui-input-block">
                                    <textarea name="noticeContent" class="layui-textarea">layuiAdmin 通用后台管理模板系统</textarea>
                                </div>
                            </div>
                            <div class="layui-form-item">
                                <div class="layui-input-block">
                                    <button class="layui-btn" lay-submit="" lay-filter="confirm-notice">确认发布</button>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>