<!-- 页面标签 -->
<div class="layadmin-tabsbody-item layui-show">
    <div class="layui-card layadmin-header yyms-header">
        <div class="layui-breadcrumb" lay-filter="breadcrumb" style="visibility: visible;">
            <a href="/admin">主页</a><span lay-separator="">/</span>
            <a><cite>设置</cite></a>
        </div>
    </div>
    <div class="layui-fluid">
        <div class="layui-card">
            <div class="layui-tab">
                <ul class="layui-tab-title ">
                    <li class="layui-this" id="systemLi">站点设置</li>
                    <li>邮件配置</li>
                    <li>存储设置</li>
                    <li>全局设置</li>
                </ul>
                <div class="layui-tab-content">
                    <div class='layui-tab-item layui-show'>
                        <form action="" class="layui-form">
                            <table class="layui-table yyms-table" lay-skin="nob">
                                <colgroup>
                                    <col width="15%" align="left">
                                    <col width="85%">
                                </colgroup>
                                <tbody>
                                <tr>
                                    <td>网站名称</td>
                                    <td>
                                        <input type="text" name="website_name" class="layui-input" value="小卖铺的老爷爷" autocomplete="off">
                                    </td>
                                </tr>
                                <tr>
                                    <td>网站域名</td>
                                    <td>
                                        <input type="text" name="website_domain" class="layui-input" value="https://www.laoyeye.net" autocomplete="off">
                                    </td>
                                </tr>
                                <tr>
                                    <td>网站标题</td>
                                      <td>
                                        <input type="text" name="website_title" class="layui-input" value="未来面前，你我还都是孩子" autocomplete="off">
                                    </td>
                                </tr>
                                <tr>
                                    <td>META关键词</td>
                                    <td>
                                        <input type="text" name="meta_keywords" class="layui-input" value="开源,后台管理,内容管理,微信小程序" autocomplete="off">
                                    </td>
                                </tr>
                                <tr>
                                    <td>META描述</td>
                                    <td>
                                        <textarea placeholder="请输入内容" name="meta_description" class="layui-textarea" autocomplete="off">yyms旗下一款专注于前后端敏捷开发的全端框架系统，yyms.x匠心打造，跨平台多终端设备完美适配的全端极速开发框架，可快速应用于企业一站式开发解决方案，yyms、手机端企业网站、小程序、微信公众号多场景下系统解决方案，提供丰富的javascript组件库 方便程序开发人员快速完成web前后端开发】</textarea>
                                    </td>
                                </tr>
                                <tr>
                                    <td>版权信息</td>
                                    <td>
                                        <textarea placeholder="请输入内容" name="copyright" class="layui-textarea" autocomplete="off"> laoyeye.net版权所有</textarea>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                            <div class="yyms-layer-btn">
                                <button class="layui-btn" lay-submit="" lay-filter="website-set">保存</button>
                                <button class="layui-btn layui-btn-danger" type="reset">重置</button>
                            </div>
                        </form>
                    </div>
                    <div class='layui-tab-item'>
                        <form action="" class="layui-form">
                            <table class="layui-table yyms-table" lay-skin="nob">
                                <colgroup>
                                    <col width="15%">
                                    <col width="85%">
                                </colgroup>
                                <tbody>
                                <tr>
                                    <td>SMTP服务器</td>
                                    <td>
                                        <input type="text" name="smtp_host" class="layui-input" value="smtp.qq.com" autocomplete="off">
                                    </td>
                                </tr>
                                <tr>
                                    <td>SMTP端口号</td>
                                    <td>
                                        <input type="text" name="smtp_port" class="layui-input" value="465" autocomplete="off">
                                    </td>
                                </tr>
                                <tr>
                                    <td>SMTP用户名</td>
                                    <td>
                                        <input type="text" name="smtp_user" class="layui-input" value="yyms@laoyeye.net" autocomplete="off">
                                    </td>
                                </tr>
                                <tr>
                                    <td>SMTP授权码</td>
                                    <td>
                                        <input type="text" name="smtp_pass" class="layui-input" value="xxxxx" autocomplete="off">
                                    </td>
                                </tr>
                                <tr style="">
                                    <td>邮件激活模板</td>
                                    <td>
                                        <textarea placeholder="请输入内容" name="smtp_tpl" class="layui-textarea" autocomplete="off">yyms旗下一款专注于前后端敏捷开发的全端框架系统，yyms.x匠心打造，跨平台多终端设备完美适配的全端极速开发框架，可快速应用于企业一站式开发解决方案，yyms、手机端企业网站、小程序、微信公众号多场景下系统解决方案，提供丰富的javascript组件库 方便程序开发人员快速完成web前后端开发】</textarea>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                            <div class="yyms-layer-btn">
                                <button class="layui-btn" lay-submit="" lay-filter="smtp-set">保存</button>
                                <button class="layui-btn layui-btn-danger" type="reset">重置</button>
                            </div>
                        </form>
                    </div>
                    <div class='layui-tab-item'>
                        <form action="" class="layui-form">
                            <table class="layui-table yyms-table" lay-skin="nob">
                                <colgroup>
                                    <col width="15%">
                                    <col width="85%">
                                </colgroup>
                                <tbody>
                                <tr>
                                    <td>存储类型</td>
                                    <td>
                                        <input type="radio" name="storage_type" title="腾讯云" value="tencent" checked="checked">
                                        <!--后期开发-->
                                        <input type="radio" name="storage_type" title="七牛云" value="qiniu" disabled>
                                        <input type="radio" name="storage_type" title="又拍云" value="upyun" disabled>
                                    </td>
                                </tr>
                                <tr>
                                    <td>SecretId</td>
                                    <td>
                                        <input type="text" name="secret_id" class="layui-input" value="smtp.qq.com" autocomplete="off">
                                    </td>
                                </tr>
                                <tr>
                                    <td>SecretKey</td>
                                    <td>
                                        <input type="text" name="secret_key" class="layui-input" value="465" autocomplete="off">
                                    </td>
                                </tr>
                                <tr>
                                    <td>Bucket</td>
                                    <td>
                                        <input type="text" name="bucket" class="layui-input" value="yyms@laoyeye.net" autocomplete="off">
                                    </td>
                                </tr>
                                <tr>
                                    <td>Region</td>
                                    <td>
                                        <input type="text" name="region" class="layui-input" value="xxxxx" autocomplete="off">
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                            <div class="yyms-layer-btn">
                                <button class="layui-btn" lay-submit="" lay-filter="storage-set">保存</button>
                                <button class="layui-btn layui-btn-danger" type="reset">重置</button>
                            </div>
                        </form>
                    </div>
                    <div class='layui-tab-item'>
                        <form action="" class="layui-form">
                            <table class="layui-table yyms-table" lay-skin="nob">
                                <colgroup>
                                    <col width="15%">
                                    <col width="85%">
                                </colgroup>
                                <tbody>
                                <tr>
                                    <td>全站评论</td>
                                    <td>
                                        <input type="radio" name="all_comment" title="开启" value="1" checked="checked">
                                        <input type="radio" name="all_comment" title="关闭" value="0">
                                    </td>
                                </tr>
                                <tr>
                                    <td>网站留言</td>
                                    <td>
                                        <input type="radio" name="message_board" title="开启" value="1" checked="checked">
                                        <input type="radio" name="message_board" title="关闭" value="0">
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                            <div class="yyms-layer-btn">
                                <button class="layui-btn" lay-submit="" lay-filter="global-set">保存</button>
                                <button class="layui-btn layui-btn-danger" type="reset">重置</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
