<!-- 页面标签 -->
<div class="layadmin-tabsbody-item layui-show">
    <div class="layui-card layadmin-header yyms-header">
        <div class="layui-breadcrumb" lay-filter="breadcrumb" style="visibility: visible;">
            <a href="/admin">主页</a><span lay-separator="">/</span>
            <a><cite>设置</cite></a>
        </div>
    </div>
    <div class="layui-fluid">
        <div class="layui-card">
            <div class="layui-tab">
                <ul class="layui-tab-title ">
                    <li class="layui-this" id="systemLi">站点设置</li>
                    <li>邮件配置</li>
                    <li>存储设置</li>
                    <li>全局设置</li>
                </ul>
                <div class="layui-tab-content">
                    <div class='layui-tab-item layui-show'>
                        <form action="" class="layui-form">
                            <table class="layui-table yyms-table" lay-skin="nob">
                                <colgroup>
                                    <col width="15%" align="left">
                                    <col width="85%">
                                </colgroup>
                                <tbody>
                                <tr>
                                    <td>网站名称</td>
                                    <td>
                                        <input type="text" name="website_name" class="layui-input" th:value="${website_name}" autocomplete="off">
                                    </td>
                                </tr>
                                <tr>
                                    <td>网站域名</td>
                                    <td>
                                        <input type="text" name="website_domain" class="layui-input" th:value="${website_domain}" autocomplete="off">
                                    </td>
                                </tr>
                                <tr>
                                    <td>网站标题</td>
                                      <td>
                                        <input type="text" name="website_title" class="layui-input" th:value="${website_title}" autocomplete="off">
                                    </td>
                                </tr>
                                <tr>
                                    <td>META关键词</td>
                                    <td>
                                        <input type="text" name="meta_keywords" class="layui-input" th:value="${meta_keywords}" autocomplete="off">
                                    </td>
                                </tr>
                                <tr>
                                    <td>META描述</td>
                                    <td>
                                        <textarea placeholder="请输入内容" name="meta_description" class="layui-textarea" th:utext="${meta_description}" autocomplete="off"></textarea>
                                    </td>
                                </tr>
                                <tr>
                                    <td>版权信息</td>
                                    <td>
                                        <textarea placeholder="请输入内容" name="copyright" class="layui-textarea" th:utext="${copyright}" autocomplete="off"></textarea>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                            <div class="yyms-layer-btn">
                                <button class="layui-btn" lay-submit="" lay-filter="website-set">保存</button>
                                <button class="layui-btn layui-btn-danger" type="reset">重置</button>
                            </div>
                        </form>
                    </div>
                    <div class='layui-tab-item'>
                        <form action="" class="layui-form">
                            <table class="layui-table yyms-table" lay-skin="nob">
                                <colgroup>
                                    <col width="15%">
                                    <col width="85%">
                                </colgroup>
                                <tbody>
                                <tr>
                                    <td>SMTP服务器</td>
                                    <td>
                                        <input type="text" name="smtp_host" class="layui-input" th:value="${smtp_host}" autocomplete="off">
                                    </td>
                                </tr>
                                <tr>
                                    <td>SMTP端口号</td>
                                    <td>
                                        <input type="text" name="smtp_port" class="layui-input" th:value="${smtp_port}" autocomplete="off">
                                    </td>
                                </tr>
                                <tr>
                                    <td>SMTP用户名</td>
                                    <td>
                                        <input type="text" name="smtp_user" class="layui-input" th:value="${smtp_user}" autocomplete="off">
                                    </td>
                                </tr>
                                <tr>
                                    <td>SMTP授权码</td>
                                    <td>
                                        <input type="text" name="smtp_pass" class="layui-input" th:value="${smtp_pass}" autocomplete="off">
                                    </td>
                                </tr>
                                <tr style="">
                                    <td>邮件激活模板</td>
                                    <td>
                                        <textarea placeholder="请输入内容" name="smtp_tpl" class="layui-textarea" th:utext="${smtp_tpl}" autocomplete="off"></textarea>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                            <div class="yyms-layer-btn">
                                <button class="layui-btn" lay-submit="" lay-filter="smtp-set">保存</button>
                                <button class="layui-btn layui-btn-danger" type="reset">重置</button>
                            </div>
                        </form>
                    </div>
                    <div class='layui-tab-item'>
                        <form action="" class="layui-form">
                            <table class="layui-table yyms-table" lay-skin="nob">
                                <colgroup>
                                    <col width="15%">
                                    <col width="85%">
                                </colgroup>
                                <tbody>
                                <tr>
                                    <td>存储类型</td>
                                    <td>
                                        <input type="radio" name="storage_type" title="腾讯云" value="tencent" checked="true">
                                        <!--后期开发-->
                                        <input type="radio" name="storage_type" title="七牛云" value="qiniu" disabled>
                                        <input type="radio" name="storage_type" title="又拍云" value="upyun" disabled>
                                    </td>
                                </tr>
                                <tr>
                                    <td>SecretId</td>
                                    <td>
                                        <input type="text" name="secret_id" class="layui-input" th:value="${secret_id}" autocomplete="off">
                                    </td>
                                </tr>
                                <tr>
                                    <td>SecretKey</td>
                                    <td>
                                        <input type="text" name="secret_key" class="layui-input" th:value="${secret_key}" autocomplete="off">
                                    </td>
                                </tr>
                                <tr>
                                    <td>Bucket</td>
                                    <td>
                                        <input type="text" name="bucket" class="layui-input" th:value="${bucket}" autocomplete="off">
                                    </td>
                                </tr>
                                <tr>
                                    <td>Region</td>
                                    <td>
                                        <input type="text" name="region" class="layui-input" th:value="${region}" autocomplete="off">
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                            <div class="yyms-layer-btn">
                                <button class="layui-btn" lay-submit="" lay-filter="storage-set">保存</button>
                                <button class="layui-btn layui-btn-danger" type="reset">重置</button>
                            </div>
                        </form>
                    </div>
                    <div class='layui-tab-item'>
                        <form action="" class="layui-form">
                            <table class="layui-table yyms-table" lay-skin="nob">
                                <colgroup>
                                    <col width="15%">
                                    <col width="85%">
                                </colgroup>
                                <tbody>
                                <tr>
                                    <td>全站评论</td>
                                    <td>
                                        <input type="radio" name="all_comment" title="开启" value="1" th:checked="${all_comment eq '1'}">
                                        <input type="radio" name="all_comment" title="关闭" value="0" th:checked="${all_comment eq '0'}">
                                    </td>
                                </tr>
                                <tr>
                                    <td>网站留言</td>
                                    <td>
                                        <input type="radio" name="message_board" title="开启" value="1" th:checked="${message_board eq '1'}">
                                        <input type="radio" name="message_board" title="关闭" value="0" th:checked="${message_board eq '0'}">
                                    </td>
                                </tr>
                                <tr>
                                    <td>编辑器类型</td>
                                    <td>
                                        <input type="radio" name="edit_type" title="NKeditor" value="nkedit" checked="true">
                                        <input type="radio" name="edit_type" title="Vditor" value="vedit" disabled>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                            <div class="yyms-layer-btn">
                                <button class="layui-btn" lay-submit="" lay-filter="global-set">保存</button>
                                <button class="layui-btn layui-btn-danger" type="reset">重置</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
