<!-- 页面标签 -->
<div class="layadmin-tabsbody-item layui-show">
    <div class="layui-card layadmin-header yyms-header">
        <div class="layui-breadcrumb" lay-filter="breadcrumb" style="visibility: visible;">
            <a href="/admin">主页</a><span lay-separator="">/</span>
            <a><cite>设置</cite></a>
        </div>
    </div>
    <div class="layui-fluid">
        <div class="layui-card">
            <div class="layui-tab">
                <ul class="layui-tab-title ">
                    <li class="layui-this" id="systemLi">站点设置</li>
                    <li>邮件配置</li>
                    <li>存储设置</li>
                    <li>核心设置</li>
                    <li>水印设置</li>
                </ul>
                <div class="layui-tab-content">
                    <div class='layui-tab-item layui-show'>
                        <form action="" class="layui-form">
                            <table class="layui-table" lay-skin="nob">
                                <colgroup>
                                    <col width="15%" align="left">
                                    <col width="85%">
                                </colgroup>
                                <tbody>
                                <tr>
                                    <td>网站名称</td>
                                    <!-- 输入框 -->
                                    <td>
                                        <input type="text" name="website_name" class="layui-input" value="小卖铺的老爷爷" autocomplete="off">
                                    </td>
                                </tr>
                                <tr>
                                    <td>网站域名</td>
                                    <!-- 输入框 -->
                                    <td>
                                        <input type="text" name="website_domain_name" class="layui-input" value="https://www.laoyeye.net" autocomplete="off">
                                    </td>
                                </tr>
                                <tr>
                                    <td>网站标题</td>
                                    <!-- 输入框 -->
                                    <td>
                                        <input type="text" name="website_title" class="layui-input" value="未来面前，你我还都是孩子" autocomplete="off">
                                    </td>
                                </tr>
                                <tr>
                                    <td>META关键词</td>
                                    <!-- 输入框 -->
                                    <td>
                                        <input type="text" name="meta_keywords" class="layui-input" value="开源,后台管理,内容管理,微信小程序" autocomplete="off">
                                    </td>
                                </tr>
                                <tr>
                                    <td>META描述</td>
                                    <!-- 文本域 -->
                                    <td>
                                        <textarea placeholder="请输入内容" name="meta_description" class="layui-textarea" autocomplete="off">yyms旗下一款专注于前后端敏捷开发的全端框架系统，yyms.x匠心打造，跨平台多终端设备完美适配的全端极速开发框架，可快速应用于企业一站式开发解决方案，yyms、手机端企业网站、小程序、微信公众号多场景下系统解决方案，提供丰富的javascript组件库 方便程序开发人员快速完成web前后端开发】</textarea>
                                    </td>
                                </tr>
                                <tr>
                                    <td>版权信息</td>
                                    <!-- 文本域 -->
                                    <td>
                                        <textarea placeholder="请输入内容" name="copyright" class="layui-textarea" autocomplete="off"> laoyeye.net版权所有</textarea>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                            <div class="yyms-layer-btn">
                                <a class="layui-btn layui-btn" lay-submit="" lay-filter="conf_1" id="conf_1">确定</a>
                                <a class="layui-btn layui-btn layui-btn-danger" type="reset">重置</a>
                            </div>
                        </form>
                    </div>
                    <div class='layui-tab-item'>
                        <form action="" class="layui-form">
                            <table class="layui-table" lay-skin="nob">
                                <colgroup>
                                    <col width="15%">
                                    <col width="85%">
                                </colgroup>
                                <tbody>
                                <tr>
                                    <td>SMTP服务器</td>
                                    <!-- 输入框 -->
                                    <td>
                                        <input type="text" name="xxx[xxx_smtp_host]" class="layui-input" value="smtp.qq.com" autocomplete="off">
                                    </td>
                                </tr>
                                <tr>
                                    <td>SMTP端口号</td>
                                    <!-- 输入框 -->
                                    <td>
                                        <input type="text" name="xxx[xxx_smtp_port]" class="layui-input" value="465" autocomplete="off">
                                    </td>
                                </tr>
                                <tr>
                                    <td>SMTP用户名</td>
                                    <!-- 输入框 -->
                                    <td>
                                        <input type="text" name="xxx[xxx_smtp_user]" class="layui-input" value="yyms@laoyeye.net" autocomplete="off">
                                    </td>
                                </tr>
                                <tr>
                                    <td>SMTP授权码</td>
                                    <!-- 输入框 -->
                                    <td>
                                        <input type="text" name="xxx[xxx_smtp_pass]" class="layui-input" value="xxxxx" autocomplete="off">
                                    </td>
                                </tr>
                                <tr style="">
                                    <td>邮件激活模板</td>
                                    <!-- HTML文本 -->
                                    <td>
                                        <textarea placeholder="请输入内容" name="meta_description" class="layui-textarea" autocomplete="off">yyms旗下一款专注于前后端敏捷开发的全端框架系统，yyms.x匠心打造，跨平台多终端设备完美适配的全端极速开发框架，可快速应用于企业一站式开发解决方案，yyms、手机端企业网站、小程序、微信公众号多场景下系统解决方案，提供丰富的javascript组件库 方便程序开发人员快速完成web前后端开发】</textarea>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                            <div class="yyms-layer-btn">
                                <a class="layui-btn layui-btn" lay-submit="" lay-filter="conf_2" id="conf_2">确定</a>
                                <a class="layui-btn layui-btn layui-btn-danger" type="reset">重置</a>
                            </div>
                        </form>
                    </div>
                    <div class='layui-tab-item'>
                        <form action="" class="layui-form">
                            <table class="layui-table" lay-skin="nob">
                                <colgroup>
                                    <col width="15%">
                                    <col width="85%">
                                </colgroup>
                                <tbody>
                                <tr>
                                    <td>存储设置</td>
                                    <!-- 单选框 -->
                                    <td>
                                        <input type="radio" name="is_thumb" title="是" value="是" checked="checked">
                                        <div class="layui-unselect layui-form-radio layui-form-radioed"><i class="layui-anim layui-icon"></i>
                                            <div>腾讯云</div>
                                        </div>
                                        <input type="radio" name="is_thumb" title="否" value="否">
                                        <div class="layui-unselect layui-form-radio"><i class="layui-anim layui-icon"></i>
                                            <div>七牛云</div>
                                        </div>
                                        <input type="radio" name="is_thumb" title="否" value="否">
                                        <div class="layui-unselect layui-form-radio"><i class="layui-anim layui-icon"></i>
                                            <div>又拍云</div>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>SecretId</td>
                                    <!-- 输入框 -->
                                    <td>
                                        <input type="text" name="xxx[xxx_smtp_host]" class="layui-input" value="smtp.qq.com" autocomplete="off">
                                    </td>
                                </tr>
                                <tr>
                                    <td>SecretKey</td>
                                    <!-- 输入框 -->
                                    <td>
                                        <input type="text" name="xxx[xxx_smtp_port]" class="layui-input" value="465" autocomplete="off">
                                    </td>
                                </tr>
                                <tr>
                                    <td>Bucket</td>
                                    <!-- 输入框 -->
                                    <td>
                                        <input type="text" name="xxx[xxx_smtp_user]" class="layui-input" value="yyms@laoyeye.net" autocomplete="off">
                                    </td>
                                </tr>
                                <tr>
                                    <td>Region</td>
                                    <!-- 输入框 -->
                                    <td>
                                        <input type="text" name="xxx[xxx_smtp_pass]" class="layui-input" value="xxxxx" autocomplete="off">
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                            <div class="yyms-layer-btn">
                                <a class="layui-btn layui-btn" lay-submit="" lay-filter="conf_3" id="conf_3">确定</a>
                                <a class="layui-btn layui-btn layui-btn-danger" id="resetAdd">重置</a>
                            </div>
                        </form>
                    </div>
                    <div class='layui-tab-item'>
                        <form action="" class="layui-form">
                            <table class="layui-table" lay-skin="nob">
                                <colgroup>
                                    <col width="15%">
                                    <col width="85%">
                                </colgroup>
                                <tbody>
                                <tr>
                                    <td>全站评论</td>
                                    <!-- 单选框 -->
                                    <td>
                                        <input type="radio" name="is_user_reg" title="是" value="是" checked="checked">
                                        <div class="layui-unselect layui-form-radio layui-form-radioed"><i class="layui-anim layui-icon"></i>
                                            <div>开启</div>
                                        </div>
                                        <input type="radio" name="is_user_reg" title="否" value="否">
                                        <div class="layui-unselect layui-form-radio"><i class="layui-anim layui-icon"></i>
                                            <div>关闭</div>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>网站留言</td>
                                    <!-- 单选框 -->
                                    <td>
                                        <input type="radio" name="is_user_reg" title="是" value="是" checked="checked">
                                        <div class="layui-unselect layui-form-radio layui-form-radioed"><i class="layui-anim layui-icon"></i>
                                            <div>开启</div>
                                        </div>
                                        <input type="radio" name="is_user_reg" title="否" value="否">
                                        <div class="layui-unselect layui-form-radio"><i class="layui-anim layui-icon"></i>
                                            <div>关闭</div>
                                        </div>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                            <div class="yyms-layer-btn">
                                <a class="layui-btn layui-btn" lay-submit="" lay-filter="conf_7" id="conf_7">确定</a>
                                <a class="layui-btn layui-btn layui-btn-danger" id="resetAdd">重置</a>
                            </div>
                        </form>
                    </div>
                    <div class='layui-tab-item'>
                        <form action="" class="layui-form">
                            <table class="layui-table" lay-skin="nob">
                                <colgroup>
                                    <col width="15%">
                                    <col width="85%">
                                </colgroup>
                                <tbody>
                                <tr>
                                    <td>是否开启水印功能</td>
                                    <!-- 单选框 -->
                                    <td>
                                        <input type="radio" name="is_markup" title="开启" value="开启" checked="checked">
                                        <div class="layui-unselect layui-form-radio layui-form-radioed"><i class="layui-anim layui-icon"></i>
                                            <div>开启</div>
                                        </div>
                                        <input type="radio" name="is_markup" title="关闭" value="关闭">
                                        <div class="layui-unselect layui-form-radio"><i class="layui-anim layui-icon"></i>
                                            <div>关闭</div>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>水印文件类型</td>
                                    <!-- 单选框 -->
                                    <td>
                                        <input type="radio" name="mark_type" title="gif" value="gif">
                                        <div class="layui-unselect layui-form-radio"><i class="layui-anim layui-icon"></i>
                                            <div>gif</div>
                                        </div>
                                        <input type="radio" name="mark_type" title="png" value="png">
                                        <div class="layui-unselect layui-form-radio"><i class="layui-anim layui-icon"></i>
                                            <div>png</div>
                                        </div>
                                        <input type="radio" name="mark_type" title="文字" value="文字" checked="checked">
                                        <div class="layui-unselect layui-form-radio layui-form-radioed"><i class="layui-anim layui-icon"></i>
                                            <div>文字</div>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>水印图片文字</td>
                                    <!-- 输入框 -->
                                    <td>
                                        <input type="text" name="name[water_text]" class="layui-input" value="laoyeye.net" autocomplete="off">
                                    </td>
                                </tr>
                                <tr>
                                    <td>水印图片文件</td>
                                    <!-- 附件类型 -->
                                    <td>
                                        <div class="layui-inline">
                                            <input type="text" name="water_img" value="../../../images/water.jpg" id="litpicPath" class="layui-input">
                                            <img src="../../../images/water.jpg">
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>水印文字颜色</td>
                                    <!-- 输入框 -->
                                    <td>
                                        <input type="text" name="name[water_text_color]" class="layui-input" value="#FF5722" autocomplete="off">
                                    </td>
                                </tr>
                                <tr>
                                    <td>水印文字大小</td>
                                    <!-- 输入框 -->
                                    <td>
                                        <input type="text" name="name[water_font_size]" class="layui-input" value="16" autocomplete="off">
                                    </td>
                                </tr>
                                <tr>
                                    <td>水印透明度</td>
                                    <!-- 输入框 -->
                                    <td>
                                        <input type="text" name="name[water_tmd]" class="layui-input" value="60" autocomplete="off">
                                    </td>
                                </tr>
                                <tr>
                                    <td>水印位置</td>
                                    <!-- 单选框 -->
                                    <td>
                                        <input type="radio" name="water_pos" title="左上角" value="左上角">
                                        <div class="layui-unselect layui-form-radio"><i class="layui-anim layui-icon"></i>
                                            <div>左上角</div>
                                        </div>
                                        <input type="radio" name="water_pos" title="上居中" value="上居中">
                                        <div class="layui-unselect layui-form-radio"><i class="layui-anim layui-icon"></i>
                                            <div>上居中</div>
                                        </div>
                                        <input type="radio" name="water_pos" title="右上角" value="右上角">
                                        <div class="layui-unselect layui-form-radio"><i class="layui-anim layui-icon"></i>
                                            <div>右上角</div>
                                        </div>
                                        <input type="radio" name="water_pos" title="左居中" value="左居中">
                                        <div class="layui-unselect layui-form-radio"><i class="layui-anim layui-icon"></i>
                                            <div>左居中</div>
                                        </div>
                                        <input type="radio" name="water_pos" title="居中" value="居中">
                                        <div class="layui-unselect layui-form-radio"><i class="layui-anim layui-icon"></i>
                                            <div>居中</div>
                                        </div>
                                        <input type="radio" name="water_pos" title="右居中" value="右居中">
                                        <div class="layui-unselect layui-form-radio"><i class="layui-anim layui-icon"></i>
                                            <div>右居中</div>
                                        </div>
                                        <input type="radio" name="water_pos" title="左下角" value="左下角">
                                        <div class="layui-unselect layui-form-radio"><i class="layui-anim layui-icon"></i>
                                            <div>左下角</div>
                                        </div>
                                        <input type="radio" name="water_pos" title="下居中" value="下居中">
                                        <div class="layui-unselect layui-form-radio"><i class="layui-anim layui-icon"></i>
                                            <div>下居中</div>
                                        </div>
                                        <input type="radio" name="water_pos" title="右下角" value="右下角" checked="checked">
                                        <div class="layui-unselect layui-form-radio layui-form-radioed"><i class="layui-anim layui-icon"></i>
                                            <div>右下角</div>
                                        </div>
                                        <input type="radio" name="water_pos" title="随机位置" value="随机位置">
                                        <div class="layui-unselect layui-form-radio"><i class="layui-anim layui-icon"></i>
                                            <div>随机位置</div>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>水印字体</td>
                                    <!-- 单选框 -->
                                    <td>
                                        <input type="radio" name="font_path" title="yyms.ttf" value="yyms.ttf" checked="checked">
                                        <div class="layui-unselect layui-form-radio layui-form-radioed"><i class="layui-anim layui-icon"></i>
                                            <div>yyms.ttf</div>
                                        </div>
                                        <input type="radio" name="font_path" title="yyms.ttf" value="yyms.ttf">
                                        <div class="layui-unselect layui-form-radio"><i class="layui-anim layui-icon"></i>
                                            <div>yyms.ttf</div>
                                        </div>
                                        <input type="radio" name="font_path" title="yyms.ttf" value="yyms.ttf">
                                        <div class="layui-unselect layui-form-radio"><i class="layui-anim layui-icon"></i>
                                            <div>yyms.ttf</div>
                                        </div>
                                        <input type="radio" name="font_path" title="行书.ttf" value="行书.ttf">
                                        <div class="layui-unselect layui-form-radio"><i class="layui-anim layui-icon"></i>
                                            <div>行书.ttf</div>
                                        </div>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                            <div class="yyms-layer-btn">
                                <a class="layui-btn layui-btn" lay-submit="" lay-filter="conf_8" id="conf_8">确定</a>
                                <a class="layui-btn layui-btn layui-btn-danger" id="resetAdd">重置</a>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
