<!-- 页面标签 -->
<div class="layadmin-tabsbody-item layui-show">
    <div class="layui-card layadmin-header yyms-header">
        <div class="layui-breadcrumb" lay-filter="breadcrumb" style="visibility: visible;">
            <a href="/admin">主页</a><span lay-separator="">/</span>
            <a><cite>系统管理</cite></a><span lay-separator="">/</span>
            <a><cite>用户管理</cite></a>
        </div>
    </div>
    <div class="layui-fluid">
        <div class="layui-card">
            <div class="layui-form layui-card-header layuiadmin-card-header-auto">
                <div class="layui-form-item">
                    <div class="layui-inline">
                        <label class="layui-form-label">用户昵称</label>
                        <div class="layui-input-inline">
                            <input type="text" name="nickName" id="nickName" placeholder="请输入用户昵称" autocomplete="off"
                                   class="layui-input">
                        </div>
                    </div>
                    <div class="layui-inline">
                        <button class="layui-btn" lay-submit="" lay-filter="btn-search">
                            <i class="layui-icon layui-icon-search layuiadmin-button-btn"></i>
                        </button>
                    </div>
                </div>
            </div>

            <div class="layui-card-body">
                <div style="padding-bottom: 10px;" id="table-tools">
                    <a class="layui-btn" data-type="add">添加</a>
                    <a class="layui-btn layui-btn-danger" data-type="del">删除</a>
                </div>
                <table class="layui-table" id="user-table" lay-filter="user-table"></table>
            </div>
        </div>
    </div>
</div>
<div id="user-edit-tpl" style="display: none;">
    <div class="layui-layer-content" style="height: 390px;">
        <form class="layui-form" style="padding: 20px 30px 0 0;">
            <div class="layui-form-item">
                <label class="layui-form-label">用户名</label>
                <div class="layui-input-block">
                    <input type="text" name="userName" placeholder="请输入用户名" class="layui-input" lay-verify="required"
                           autocomplete="off">
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">用户昵称</label>
                <div class="layui-input-block">
                    <input type="text" name="nickName" placeholder="请输入用户昵称" class="layui-input" lay-verify="required"
                           autocomplete="off">
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">邮箱</label>
                <div class="layui-input-block">
                    <input type="text" name="email" placeholder="请输入邮箱" class="layui-input"
                           autocomplete="off">
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">角色名称</label>
                <div class="layui-input-block">
                    <select name="roleCode" lay-verify="required" lay-search>
                        <option value="">请选择</option>
                        <option th:each="role:${roleList}" th:value="${role.roleCode}"
                                th:text="${role.roleName}"></option>
                    </select>
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label"></label>
                <div class="layui-input-inline">
                    <input type="button" lay-submit="" value="确认" lay-filter="user-add" class="layui-btn">
                    <button class="layui-btn layui-btn-danger" type="reset" id="resetAdd">重置</button>
                </div>
            </div>
        </form>
    </div>
    <script>
        layui.use(['form', 'table'], function () {
            var $ = layui.$
                , form = layui.form
                , table = layui.table;





        });
    </script>
</div>
<!--操作-->
<script type="text/html" id="userBar">
    <a class="layui-btn layui-btn-xs" lay-event="edit">编辑</a>
    <a class="layui-btn layui-btn-xs layui-btn-danger" lay-event="del">删除</a>
</script>
<script type="text/html" id="statusBar">
    <input type="checkbox" name="status" value="{{d.id}}" lay-skin="switch" lay-text="启用|禁用"
           lay-filter="status" {{ d.status == true ? 'checked' : '' }}>
</script>